* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-size: 1rem;
  min-height: 100%;
}

#gameGrid {
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  width: 540px;
  height: 550px;
}

.cell {
  border: 1px solid white;
  background-color: lightgrey;
  width: 10px;
  height: 10px;
}

/*.cell[column="49"] {
  background-color: blue;
}*/

.snake0 {
  border: 1px solid white;
  background-color: blue;
  width: 10px;
  height: 10px;
}

.snake1 {
  border: 1px solid white;
  background-color: red;
  width: 10px;
  height: 10px;
}

.snake2 {
  border: 1px solid white;
  background-color: seagreen;
  width: 10px;
  height: 10px;
}

.snake3 {
  border: 1px solid white;
  background-color: purple;
  width: 10px;
  height: 10px;
}
